{% extends 'base.html' %}

{% block title %}
<title>Foto</title>
{% endblock %}

{% block body %}
<h3 align="center">Foto-Foto Kegiatan</h3>
<div id="polaroid">
  <figure>
    <img src="static/peserta/1.jpg" alt="Tulis Judul yang SEO Friendly" title="Tulis Judul yang SEO Friendly"/>
    <figcaption>Caption gambar satu</figcaption>
  </figure>
  <figure>
    <img src="static/peserta/2.jpg" alt="Tulis Judul yang SEO Friendly" title="Tulis Judul yang SEO Friendly"/>
    <figcaption>Caption gambar dua</figcaption>
  </figure>
  <figure>
    <img src="static/peserta/3.jpg" alt="Tulis Judul yang SEO Friendly" title="Tulis Judul yang SEO Friendly"/>
    <figcaption>Caption gambar tiga</figcaption>
  </figure>
    <figure>
    <img src="static/peserta/4.jpeg" alt="Tulis Judul yang SEO Friendly" title="Tulis Judul yang SEO Friendly"/>
    <figcaption>Caption gambar tiga</figcaption>
  </figure>
</div>
{% endblock %}