{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block body %}


<!---<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h5>Hallo selamat datang di web LPK Yusticia</h5>
                <p>
                    Lorem ipsum is the best
                </p>
                <a href="#" class="btn btn-success btn-lg">Sign Up</a>
            </div>
        </div>
    </div>
</div>!--->

<!---<p align="center">Hallo Selamat Datang
{% if current_user.is_authenticated %}
    <i>{{current_user.username}}</i>
{% endif %}
</p>!--->
<div class="image-container">
  <div class="text">LKP Justicia Komputer</div>
</div>
{% if current_user.is_authenticated %}
<div class="row">
	<div class="column">
    <div class="card">
      <img src="static/peserta/1.jpg" alt="John" style="width:100%">
      <div class="container">
        <h5>Daftar Pelatihan</h5>
        <p class="title">Designer</p>
        <p><button class="button">Klik Untuk Daftar</button></p>
      </div>
    </div>
  </div>
  </div>
{% endif %}
<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/peserta/1.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h5>KBM</h5>
        <p class="title">lala</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/peserta/1.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h5>Mike Ross</h5>
        <p class="title">Art Director</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/peserta/1.jpg" alt="John" style="width:100%">
      <div class="container">
        <h5>John Doe</h5>
        <p class="title">Designer</p>
      </div>
    </div>
  </div>
</div>





<!---<div class="slider">
		<figure>
			<div class="slide">
				<img src="static/peserta/1.jpg">
			</div>

			<div class="slide">
				<img src="static/peserta/2.jpg">
			</div>

			<div class="slide">
				<img src="static/peserta/3.jpg">
			</div>

			<div class="slide">
				<img src="static/peserta/4.jpeg">
			</div>

			<div class="slide">
				<img src="static/foto/iu.jpg">
			</div>
		</figure>
	</div>!--->

{% endblock %}
