{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block body %}

<div class="image-container">
  <div class="text">LKP Justicia Komputer</div>
</div>
{% if current_user.is_authenticated %}
<div class="row">
	<div class="column">
    <div class="card">
      <img src="static/foto/daftar.png" alt="John" style="width:100%" height="300px">
      <div class="container">
        <h5>Transfer Biaya Pelatihan</h5>
        <p class="title">3232323</p>
        <p> <button class="button"><a href="https://forms.gle/cDqXXm2hEWN9iYom7">Klik Untuk Daftar</a></button></p>
      </div>
    </div>
  </div>
  </div>
{% endif %}
<div class="row">
  <div class="column">
    <div class="card">
      <img src="static/peserta/2.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h5>LKP Justicia</h5>
        <p class="title">Staff LKP</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/peserta/4.jpeg" alt="Mike" style="width:100%">
      <div class="container">
        <h5>LKP Justicia</h5>
        <p class="title">Peserta Pelatihan</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/peserta/1.jpg" alt="John" style="width:100%">
      <div class="container">
        <h5>Ruang Kelas</h5>
        <p class="title">Pelatihan Teori</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
