{% extends 'base.html' %}

{% block title %}
<title>Instruktur</title>
{% endblock %}

{% block body %}

<h2>Meet Our Team</h2>

<!---<div class="card">
  <img src="/static/foto/testi.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Asyirudin Achmad S.Kom</b></h4>
    <p>Instruktur Komputer</p>
  </div>
</div>

<div class="card">
  <img src="/static/foto/testi.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Asyirudin Achmad S.Kom</b></h4>
    <p>Instruktur Komputer</p>
  </div>
</div>

<div class="card">
  <img src="/static/foto/testi.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Asyirudin Achmad S.Kom</b></h4>
    <p>Instruktur Komputer</p>
  </div>
</div>!--->

<div class="column">
  <div class="card">
    <img src="static/foto/ins.png" alt="Mike" style="width:100%">
    <div class="container">
      <p>Asyirudin Achmad S.Kom</p>
      <p class="title">Instruktur Komputer</p>
      <p class="title">Universitas PGRI Yogyakarta</p> <small>Periode 2016 - Sekarang</small>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="static/foto/ins.png" alt="John" style="width:100%">
    <div class="container">
      <p>Cahyo Nugroho S.Pd</p>
      <p class="title">Instruktur Komputer</p>
      <p class="title">Universitas Negri Yogyakarta</p> <small>Periode 2009 - 2016</small>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="static/foto/ins.png" alt="John" style="width:100%">
    <div class="container">
      <p>Sigit Prasetyo S.Kom</p>
      <p class="title">Instruktur Komputer</p>
      <p class="title">Universitas Amikom Yogyakarta</p> <small>Periode 2007 - 2007</small>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>
{% endblock %}
